@font-face {
    font-family: Playfair;
    src: url(/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(/fonts/Montserrat_Font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-regular;
    src: url(/fonts/Montserrat_Font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/fonts/Montserrat_Font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(/fonts/Montserrat_Font/Montserrat-Medium.ttf);
}